.App {
  text-align: center;
  overflow: hidden;
}
.pink-text {
  color: #45e59a;
}
.light-pink-text {
  color: #66ecae;
}
.pink-btn {
  background-color: #45e59a;
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
  padding: 8px 25px;
}
.pink-bg {
  background-color: #45e59a;
}

.light-pink-bg {
  background-color: #bef2d9;
}
